#panel {
    width: 250px;
    height: 150px;

    position: absolute;
    bottom: 10px;
    right: 10px;

    text-align: center;

    /* background: rgba(0, 0, 0, 0.433); */
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    z-index: 100;

    box-shadow: 0 0 20px #03f;
}

#panelFinal {
    display: none;
    width: 80%;
    height: 80vh;

    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    color: white;

    h1{
        text-align: center;
        font-size: 80px;
    }

    p{
        text-align: center;
        font-size: 30px;
    }

    #resetear{
        width: 300px;
        height: 100px;

        border-radius: 20px;
        font-size: 30px;
        cursor: pointer;
        background-color: aqua;
    }
}

/* Barra progreso vuelta */
#contenedorProgreso {
    width: 80%;
    background-color: #ddd;
    padding: 3px;
    border-radius: 5px;
    margin: 20px;
}

#barraProgreso {
    height: 20px;
    width: 0%;
    background-color: #76A9FA;
    border-radius: 3px;
    transition: width 0.4s ease;
}